.advantages {
    .container {
        max-width: 100%;
        @include respond(lg) {
            max-width: 1128px;
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
        li {
            flex-basis: 100%;
            .advantages_image {
                display: none;
                height: 112px;
                margin-bottom: 8px;
                background-color: var(--grey-type_3);
                text-align: center;
                @include respond(lg) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .advantages_title {
                margin-bottom: 8px;
                font-size: 36px;
                font-weight: 700;
                letter-spacing: 0.02em;
                line-height: 1.11;
                text-transform: capitalize;
                text-align: center;
                @include respond(md) {
                    text-align: inherit;
                }
                @include respond(lg) {
                    font-size: 20px;
                    line-height: 1.2;
                }
            }
            .advantages_text {
                font-weight: 500;
                @include respond(lg) {
                    font-weight: 400;
                }
            }
            @include respond(md) {
                flex-basis: calc((100% - 24px)/ 2);
            }
            @include respond(lg) {
                flex-basis: calc((100% - 72px)/ 4);
            }
        }
        @include respond(lg) {
            gap: 24px;
        }
    }
}