@import '~node_modules/modern-normalize/modern-normalize.css';

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: $grey-type_2;
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

ul,
ol {
    padding: 0px;
    margin: 0px;

    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.container {
    max-width: 396px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}

.section {
    padding: 96px 0;
}

.hidden {
    display: none;
}

.title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: $grey-type_1;
    text-align: center;
}