.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    .header_nav {
        margin-left: auto;

        .header_nav_list {
            display: none;
        }

        a {
            position: relative;
            display: block;
            padding-top: 24px;
            padding-bottom: 28px;
            font-weight: 700;
            color: var(--grey-type_1);
            transition-duration: 250ms;
            transition-property: color, height;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            &.current::after {
                display: block;
                position: absolute;
                bottom: 0;
                content: '';
                width: 100%;
                height: 0;
            }
            &.current::after {
                height: 4px;
                background-color: $primary;
            }
            &:hover,
            &:focus,
            &.current {
                color: $primary;
            }
        }
        .menu_toggle {
            display: flex;
            align-items: center;
            background: none;
            border: none;
            cursor: pointer;
        }
    }
    .header_container {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 24px;
        .logo {
            @include logo;
            .logo_customStyle {
                color: $grey-type_1;
            }
        }
        .header_contacts {
            display: none;
            margin-left: auto;
            a {
                color: $grey-type_2;
                transition-duration: 250ms;
                transition-property: color;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                &:hover,
                &:focus {
                    color: $primary;
                }
            }
        }
    }
}