@mixin logo {
    display: flex;
    color: $primary;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

@mixin close_btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white-type_2;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, background-color, border-color, fill;
    fill: currentColor;
    padding: 0;
    &:hover, 
    &:focus {
        border-color: $primary-dark;
        background-color: $primary-dark;
        fill: $white;
    }
}
$screen-xs: 428px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 1200px;

@mixin respond($media) {
  @if $media == xs {
    @media only screen and (min-width: $screen-xs) { @content; }
  }
  @else if $media == sm {
    @media only screen and (min-width: $screen-sm) { @content; }
  }
  @else if $media == md {
    @media only screen and (min-width: $screen-md) { @content; }
  }
  @else if $media == lg {
    @media only screen and (min-width: $screen-lg) { @content; }
  }
}

  @mixin img-2x {
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      @content
    }
  } 