$grey-type_1: #2E2F42;
$grey-type_2: #434455;
$grey-type_3: #F4F4FD;
$grey-type_4: #8E8F99;
$primary: #4D5AE5;
$primary-dark: #404BBF;
$green: #31D0AA;
$white: #fff;
$white-type_2: #E7E9FC;
$modal_bg: #FCFCFC;