<section class="activities section">
    <div class="container">
        <h2 class="title">What Are We Doing</h2>
        <ul>
            <li>
                <img
                    srcset="./images/workTypesImg_1.jpg 1x, ./images/workTypesImg_1@2x.jpg 2x"
                    src="./images/workTypesImg_1.jpg"
                    width="360"
                    alt="workTypesImg_1"
                />
            </li>
            <li>
                <img
                    srcset="./images/workTypesImg_2.jpg 1x, ./images/workTypesImg_2@2x.jpg 2x"
                    src="./images/workTypesImg_2.jpg"
                    width="360"
                    alt="workTypesImg_2"
                />
            </li>
            <li>
                <img
                    srcset="./images/workTypesImg_3.jpg 1x, ./images/workTypesImg_3@2x.jpg 2x"
                    src="./images/workTypesImg_3.jpg"
                    width="360"
                    alt="workTypesImg_3"
                />
            </li>
        </ul>
    </div>
</section>