<section class="customers section">
    <div class="container">
        <h2 class="title">Customers</h2>
        <ul class="customers_list">
            <li class="customers_item">
                <a href="#" rel="noreferrer nofollow" target="_blank">
                    <svg class="icon" width="104" height="56">
                        <use href="./images/icons.svg#icon-customers_icon-1"></use>
                    </svg>
                </a>
            </li>
            <li class="customers_item">
                <a href="#" rel="noreferrer nofollow" target="_blank">
                    <svg class="icon" width="104" height="56">
                        <use href="./images/icons.svg#icon-customers_icon-2"></use>
                    </svg>
                </a>
            </li>
            <li class="customers_item">
                <a href="#" rel="noreferrer nofollow" target="_blank">
                    <svg class="icon" width="104" height="56">
                        <use href="./images/icons.svg#icon-customers_icon-3"></use>
                    </svg>
                </a>
            </li>
            <li class="customers_item">
                <a href="#" rel="noreferrer nofollow" target="_blank">
                    <svg class="icon" width="104" height="56">
                        <use href="./images/icons.svg#icon-customers_icon-4"></use>
                    </svg>
                </a>
            </li>
            <li class="customers_item">
                <a href="#" rel="noreferrer nofollow" target="_blank">
                    <svg class="icon" width="104" height="56">
                        <use href="./images/icons.svg#icon-customers_icon-5"></use>
                    </svg>
                </a>
            </li>
            <li class="customers_item">
                <a href="#" rel="noreferrer nofollow" target="_blank">
                    <svg class="icon" width="104" height="56">
                        <use href="./images/icons.svg#icon-customers_icon-6"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>